h1 {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

p {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
   
}

.title {
    
    padding-left: 16px;
    padding-bottom: 18px;
}

.text {
    box-sizing: content-box;
    
}

.box_nr1 {
    box-sizing: border-box;
    padding: 18px 24px 18px 24px;
    border-radius: 8px;
    border-left: 5px solid var(--gray-300, #C8CBD1);
    background: var(--background-bg-primary, #FFF);
}