.big-box {
    display: flex;
    flex-direction: column; 
    font-family: Poppins;
}
.moles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button-container {
    display: flex;
    align-items: center;
    font-family: Poppins;
    gap: 24px;
    width: 400px;
}
button {
    border-radius: 10px;
    width: 110px;
    padding: 10px;
    color: white;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    background:  #23213D;
}

h4 {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.blue-button {
    background:  #23213D;   
}

.pink-button {
    background: #FE3756;
}
.window-container {
    border-radius: 10px;
    width: 110px;
    color: black;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    background-color: #EBEBEB;
    display: flex;
    flex-direction: column; 
    padding: 10px;
    align-items: center;
    
}
.gray-square {
    width: 102px;
    height: 102px;
    border-radius: 8px;
    background: #EBEBEB;
    display: flex;
    justify-content: center;
    
}
.green-square {
    width: 102px;
    height: 102px;
    border-radius: 8px;
    background: #E2FBD7;
    display: flex;
    justify-content: center;
    
}
.red-square {
    width: 102px;
    height: 102px;
    border-radius: 8px;
    background: #F3AEA8;
    display: flex;
    justify-content: center;
    
}
.gray-squares {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 600px;
}
.mole-picture {
    display: flex;
    width: 91.43px;
}

